@using OdeToFood.core
@model Restaurant
<!-- style="max-width: 18rem;" -->
<div class="card bg-light mb-3 " >
    <div class="card-header">
        <h3 class="card-title">@Model.Name</h3>
    </div>
    <div class="card-body">
        <div><span>Location: @Model.Location</span></div>
        <div><span>Cuisine: @Model.Cuisine</span></div>
    </div>
    <div class="card-footer">
         <a class="btn btn-outline-dark" 
           asp-page="./Details"
           asp-route-restaurantId="@Model.Id">Detail</a>
        <a class="btn btn-outline-warning" 
           asp-page="./Edit"
           asp-route-restaurantId="@Model.Id">Edit</a>
        <a class="btn btn-outline-danger" 
           asp-page="./Delete"
           asp-route-restaurantId="@Model.Id">Delete</a>
    </div>
    
</div>
