@page
@using System.Collections.Specialized
@model WebApplication.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>Client Restaurants</h1>

<table class="table" id="restaurants">
    
</table>

@section Scripts
{
    <environment include="Development">
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css"></link>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>
    </environment>
    <script >   
    $(function() {
        
        var cuisines=["Unknown", "Mexican", "Italian", "Indian" ];
        
        $.ajax("/api/restaurants/",
            { method: "get" })
            .then(function (response) {
               $("#restaurants").dataTable({
                   data: response,
                   columns:[
                        {"data": "name" },
                        {"data": "location"},
                        {"data": "cuisine", "render": function (data) {
                            return cuisines[data];
                            }
                        }
                   ]
               });
            });
        });
    </script>
}

