@page "{restaurantId}"
@model WebApplication.Pages.Restaurants.Delete

@{  
    
}


<h2>Delete!</h2>
<div class="alert alert-danger">
    Are You sure you want to delete @Model.Restaurant.Name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="List" class="btn btn-primary">Cancel</a>     
</form>
