@page "{restaurantId:int}"
@model WebApplication.Pages.Restaurants.Details


@{
    
}
<div>
<h1>@Model.restaurant.Name</h1>
</div>
<div>
    Restaurant Id: @Model.restaurant.Id
</div>
<div>
    Location: @Model.restaurant.Location
</div>
<div>
    Cuisine: @Model.restaurant.Cuisine
</div>
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<a asp-page="./List" class="btn btn-outline-dark">All Restaurants</a>