@page
@using OdeToFood.core
@model WebApplication.Pages.Restaurants.List
@{
    ViewData["Title"] = "Restaurants";
}

<h1>@ViewData["Title"]</h1>

<form method="get">
 <div class="form-group">
        <div class="input-group mb-3 ">
            <input type="search" class="form-control" placeholder="Restaurant's name" asp-for="SearchTerm" aria-label="Restaurant's name" />
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="search"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </div>

</form>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant"/> 
}
<a asp-page=".\Edit" class="btn btn-primary">Add new</a>

@section footer {
  
}
