﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Cosita"] = "que te pires pavo";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["Cosita"]</p>
<p>Use this page to detail your site's privacy policy.</p>